<div class="login-container">
	<div class="login-content">
		<mat-toolbar class="login-toolbar" color="primary">Registro</mat-toolbar>
		<mat-card>

			<form >
				<mat-form-field>
					<mat-icon matPrefix>email</mat-icon>
					<input autofocus type="email" matInput placeholder="Correo *" />
					
				</mat-form-field>


				<mat-form-field>
					<mat-icon matPrefix>person_outline</mat-icon>
					<input autofocus type="text" matInput placeholder="Nombre de usuario *" />
				
				</mat-form-field>


				<mat-form-field>
					<mat-icon matPrefix>lock_outline</mat-icon>
					<input type="password" autocomplete="false" matInput placeholder="Clave *" />
        
				</mat-form-field>
				
  
			<div class="socialMediaFlex">
        	<button style="width:50%"   type="submit" mat-raised-button color="primary">Crear Cuenta</button>
      </div>
			</form>
		</mat-card>
	</div>
</div>
