<div class="ques-container">
   

	<div class="login-content">
        <br/>
		<mat-toolbar class="login-toolbar" color="primary">Preguntas Frecuentes</mat-toolbar>

        <mat-card>
           
			<mat-accordion>
                <mat-expansion-panel hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        <b>¿Qué beneficios tiene adquirir este producto o servicio?</b>
                      
                    </mat-panel-title>
                   
                  </mat-expansion-panel-header>
                  <hr/>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                </mat-expansion-panel>
                
              </mat-accordion>

              <mat-accordion>
                <mat-expansion-panel hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        <b>¿Realmente necesito este producto o servicio?</b>
                      
                    </mat-panel-title>
                   
                  </mat-expansion-panel-header>
                  <hr/>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                </mat-expansion-panel>
                
              </mat-accordion>

              <mat-accordion>
                <mat-expansion-panel hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        <b>¿Cómo funciona?</b>
                      
                    </mat-panel-title>
                   
                  </mat-expansion-panel-header>
                  <hr/>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                </mat-expansion-panel>
                
              </mat-accordion>
              <mat-accordion>
                <mat-expansion-panel hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        <b>¿Cuánto dinero cuesta la adquisición de este producto?</b>
                      
                    </mat-panel-title>
                   
                  </mat-expansion-panel-header>
                  <hr/>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                </mat-expansion-panel>
                
              </mat-accordion>
              <mat-accordion>
                <mat-expansion-panel hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        <b>¿En cuánto tiempo tendré listo mi producto?</b>
                      
                    </mat-panel-title>
                   
                  </mat-expansion-panel-header>
                  <hr/>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                </mat-expansion-panel>
                
              </mat-accordion>
              
				

           
		</mat-card>
        <br/>
		<mat-card>
            <mat-card-title>Realize una pregunta</mat-card-title>
			
				
                <mat-form-field>
					
                    <label MatLabel>Haz una pregunta</label>
                    <textarea matInput rows="4" [(ngModel)]="message"></textarea>
				</mat-form-field>
               
                <div class="socialMediaFlex">
                    <button style="width:50%" (click)="answer()"  type="button" mat-raised-button color="primary">Enviar</button>
              </div>

            <br/>
		</mat-card>
         <br/>
       

	</div>
   

</div>

