<form>
	<div class="login-container">
		<div class="login-content">
			<mat-toolbar class="login-toolbar" color="primary"><img class="icon-image" src="assets/person.jpg" ></mat-toolbar>
			<mat-card>
				<form  >
					<mat-form-field>
						<mat-icon matPrefix>person_outline</mat-icon>
						<input autofocus type="text" matInput placeholder="Username">
					</mat-form-field>

					<mat-form-field>
						<mat-icon matPrefix>lock_outline</mat-icon>
						<input type="password" autocomplete="false" matInput placeholder="Password" >
					</mat-form-field>

					<button type="submit" mat-raised-button color="primary">INICIAR SESION</button>
        </form>
					
          <br>
          <span> Si no tienes una cuenta, registrate aqui <a [routerLink]="['/authorization/register']">REGISTRARSE AQUI</a></span>



				
			</mat-card>
		</div>
	</div>