<div class="home-container">
    <div class="login-content">
        <br/>
		<mat-toolbar class="login-toolbar" color="primary">Inicio</mat-toolbar>
       
		<mat-card class="example-card">
            <mat-card-header>
              
              <mat-card-title>Calculo Presupuestario de Cursos Virtuales</mat-card-title>
             
            </mat-card-header>
            <img mat-card-image src="assets/card1.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                 Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                 when an unknown printer took.
              </p>
            </mat-card-content>
           
          </mat-card>

          <br/>
          <mat-card class="example-card">
              <mat-card-header>
                
                <mat-card-title>Considera el Nivel del Docente y mas.</mat-card-title>
               
              </mat-card-header>
              <img mat-card-image src="assets/card2.jpg" alt="Photo of a Shiba Inu">
              <mat-card-content>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                   Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                   when an unknown printer took.
                </p>
              </mat-card-content>
             
            </mat-card>

            <br/>
            <mat-card class="example-card">
                <mat-card-header>
                  
                  <mat-card-title>Agiliza la creacion de Cursos Virtuales.</mat-card-title>
                 
                </mat-card-header>
                <img mat-card-image src="assets/card3.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                     Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                     when an unknown printer took.
                  </p>
                </mat-card-content>
               
              </mat-card>
              <br/>
       

	</div>
</div>
