<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <hr/>
    <mat-nav-list>
    
     
      <a mat-list-item [routerLink]="['/principal/home']"><span><mat-icon>home</mat-icon> Inicio</span></a>
      <a mat-list-item [routerLink]="['/principal/calculator']"><span><mat-icon> attach_money</mat-icon> Calculadora</span></a>
      <a mat-list-item [routerLink]="['/authorization/login']"><span><mat-icon>how_to_reg</mat-icon> Login</span></a>
      <a mat-list-item [routerLink]="['/authorization/register']"><span><mat-icon>person_add</mat-icon> Registro</span></a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>cursos</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
